.modal-overlay   {
  background-color: white;
  border-radius: 8px;
  padding: 30px;
  width: 100%;
  max-width: 400px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.modal-content {
  background-color: white;
  border-radius: 8px;
  width: 80%;
  max-width: 500px;
  max-height: 80vh;
  overflow-y: auto;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.modal-header {
  padding: 16px;
  border-bottom: 1px solid #eee;
  display: flex;
  align-items: center;
}

.modal-header h2 {
  margin: 0;
  font-size: 1.5rem;
  flex-grow: 1;
  margin-left: 12px;
}

.group-badge {
  padding: 4px 10px;
  border-radius: 16px;
  font-size: 0.8rem;
  font-weight: bold;
  color: white;
}

.group-badge[data-group='YoungLife'] {
  background-color: var(--yl-green); /* Green */
}

.group-badge[data-group='WyldLife'] {
  background-color: var(--wyldlife-blue); /* Blue */
}

.group-badge[data-group='YLUni'] {
  background-color: var(--yluni-orange); /* Orange */
}

.group-badge[data-group='Inne'] {
  background-color: var(--inne-darkgreen);
}

.group-badge[data-group='Joint'] {
  background-color: var(--yl-light-navy); /* Turquoise */
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: #e7e7e7;
}

.modal-body {
  padding: 16px;
}

.event-details {
  margin-bottom: 20px;
}

.detail-item {
  margin-bottom: 8px;
}

.event-description h3 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 1.2rem;
}

.event-description p {
  line-height: 1.5;
  margin: 0;
} 